* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
}

#nav-container {
    background-color: black;
    color: aliceblue;
    height: 5rem;
    padding-top: 1rem;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

a:hover {
    color: orange;
}


header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;
    background-color: #000; */
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .link {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 244, 244, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 288px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 244, 244, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 288px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* section 1 */

#section-main {
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.section-child {
    padding-top: 80px;
    align-items: center;
    background-color: #20272f;
    width: 100%;
    height: 900px;

    h1 {
        font-size: 5.5rem;
        color: aliceblue;
        font-weight: lighter;
    }

    h2 {
        font-size: 2rem;
        padding-top: 20px;
        color: aliceblue;
    }



    span {
        color: #01bc95;
        text-shadow: 1px 10px 20px #01bc95;
    }

    p {
        font-size: 2.5rem;
        color: aliceblue;
    }

}

.section-child-btn {
    margin: 80px 10px 100px 10px;
    height: 4.2rem;
    width: 15rem;
    font-size: 1.6rem;
    border: 1px solid #01bc95;
    border-radius: 10px;
    box-shadow: 1px 10px 20px #01bc95;
    color: aliceblue;
    background-color: black;
}

.section-child-btn:hover {
    border: 2px solid white;
    color: #01bc95;
}


.lang-icon {
    font-size: 5rem;
    margin: 3rem;
    display: inline-block;
}

/* section-2 */
/* --------------------------------------------------------------------------------- */

.sec2-head {
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding-top: 40px;
    font-size: 4rem;
}

.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: black;
}


.section-2-child {
    flex: 1;
    min-width: 250px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 0px 20px;

}



/* Styling for the image container */
.img-container {
    text-align: center;
    background-color: #20272f;
    border: 1px solid #01bc95;
    box-shadow: 1px 10px 20px #01bc95;
    height: 38rem;
    width: 25rem;
}

.sec-2-img {
    width: 100%;
    height: 538px;
    margin: -35px 0px 0px 44px;
    border: 1px solid #01bc95;
    box-shadow: 1px 10px 20px #01bc95;
}

/* Social icons styling */
.social-icon {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 25px;
}

.social-icon-items {
    font-size: 30px;
    transition: transform 0.3s ease;
}

.social-icon-items:hover {
    transform: scale(1.2);
}

/* Text styling for paragraph */
.section-2-child p {
    font-size: 1.5rem;
    line-height: 2;
    padding-right: 70px;
    color: aliceblue;
}

/* Responsive Styles */



/* ------------------------------------------------------------ */
.section-3 {
    background-color: black;
    width: auto;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.projects-container {
    width: auto;

    h1 {
        font-size: 4rem;
        padding-bottom: 70px;
        color: aliceblue;
    }
}

.projects {
    background-color: #20272f;
    height: 15rem;
    width: 25rem;
    margin: 20px;
    display: inline-flex;
    border: 1px solid #01bc95;
    border-radius: 20px;
    box-shadow: -10px -10px 10px #01bc95;

}

.projects:hover {
    box-shadow: 10px 10px 10px #01bc95;
}

/* skills section */

.skills-section {
    background-color: #20272f;
    height: 45rem;
    padding-bottom: 89px;
}

.title-container {
    width: 100%;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: aliceblue;
}

.sub-title span {
    color: aqua;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.container2 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;

    .percentage {
        color: aqua;
    }

    .text {
        color: aliceblue;
    }
}

.heading1 {
    color: aqua;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.technical-bars .bar {
    margin: 40px 0;
}

.technical-bars .bar.first-child {
    margin-top: 40px;
}

.technical-bars .bar.last-child {
    margin-top: 40px;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 1s 1s linear forwards;
    color: aliceblue;
    /* --------------------------------------------------------------------work to do */
    opacity: 1;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color: aqua;
    position: absolute;
    border-radius: 10px;
    animation: animate 1.5s 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.javascript span {
    width: 50%;
}

.progress-line.bootstrap span {
    width: 90%;
}

.progress-line.react span {
    width: 45%;
}

.progress-line.angular span {
    width: 60%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "80%";
}

.progress-line.javascript span::after {
    content: "50%";
}

.progress-line.bootstrap span::after {
    content: "90%";
}

.progress-line.react span::after {
    content: "45%";
}

.progress-line.angular span::after {
    content: "60%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

/* PROFESSIONAL */
.radical-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radical-bars .radical-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radical-bars .radical-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radical-bars .radical-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: aqua;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {
    animation: animate-path1 1.5s 1.5s linear forwards;
}

.path-2 {
    animation: animate-path1 1.5s 1.5s linear forwards;
}

.path-3 {
    animation: animate-path1 1.5s 1.5s linear forwards;
}

.path-4 {
    animation: animate-path1 1.5s 1.5s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 175;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 125;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 75;
    }
}

.radical-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}

.progress-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}


/* footer */

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 300px;
}

#footer-div {
    width: 90%;
    height: 240px;
    background-color: #20272f;
    text-align: center;
    border-radius: 20px;

    h1 {
        font-size: 4rem;
        color: aliceblue;
        font-weight: lighter;
    }

}

#footer-nav-bar {
    padding-top: 40px;
}

.footer-list {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    column-gap: 5rem;

    h3 {
        font-size: 1.5rem;
        color: #01bc95;
        font-weight: lighter;
    }
}

.footer-links {
    text-decoration: none;
    color: #01bc95;
}

.social-icon {
    padding-top: 10px;
    font-size: 2rem;
    word-spacing: 70px;
}


@media (max-width: 952px) {

    .navbar .link,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    #home {
        background-image: url(/Black\ and\ Beige\ Simple\ Tablet\ UI\ Design\ Mockup\ Instagram\ Post.png);
    }
}


    @media(max-width:576px) {
        .dropdown_menu {
            left: 2rem;
            width: unset;
        }

        #home {
            background-image: url(/PHONE.png);
        }

    }

    @media (max-width: 852px) {

        /* section 1 */
        #section-main {
            background-color: #0d75eb;
            width: 100%;
            height: 480px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        .section-child {

            height: 30rem;

            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 25px;
                padding-bottom: 20px;
            }

        }

        .sec2-head {
            color: aliceblue;
            background-color: black;
            text-align: center;
            padding-top: 40px;
            font-size: 2rem;
        }

        .section-2 {
            padding-top: 10%;
            padding-bottom: 0%;

            p {
                padding-right: 0%;
            }
        }

        .section-child-btn {
            margin: 30px 0px 50px 0px;
            height: 3rem;
            width: 10rem;
            font-size: 0.9rem;
            border: 1px solid #01bc95;
            border-radius: 10px;
            box-shadow: 1px 10px 20px #01bc95;
            color: aliceblue;
            background-color: black;
        }

        .section-child-btn:hover {
            border: 2px solid white;
            color: #01bc95;
        }


        .lang-icon {
            font-size: 2rem;
            margin: 0.3rem;
            display: inline-block;
        }


        /* section 2 */

        .section-2-child {
            padding: 20px;
        }

        .social-icon-items {
            font-size: 18px;
        }

        .section-2-child p {
            font-size: 1rem;
        }

        .img-container {
            text-align: center;
            background-color: #20272f;
            border: 1px solid #01bc95;
            box-shadow: 1px 10px 20px #01bc95;
            height: 300px;
            width: 250px;
        }

        .sec-2-img {
            background-color: aliceblue;
            max-width: 100px;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* project */
        .section-3 {
            background-color: black;
            width: auto;
            display: block;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        .projects-container {
            width: auto;

            h1 {
                font-size: 2rem;
                padding-top: 40px;
                padding-bottom: 40px;
                color: aliceblue;
            }
        }

        .projects {
            background-color: #20272f;
            height: 10rem;
            width: 15rem;
            border: 1px solid #01bc95;
            box-shadow: -10px -10px 10px #01bc95;

        }

        .projects:hover {
            box-shadow: 10px 10px 10px #01bc95;
        }

        /* skills section */

        .title-container {
            .sub-title {
                font-size: 2rem;
                padding-bottom: 20px;
            }
        }

        .skills-section {
            background-color: #20272f;
            height: 68rem;
            padding-bottom: 0px;

            .container1 {
                margin: 0;
                padding: 0%;
                background-color: #20272f;
                width: 360px;


                .technical-bars {
                    width: 300px;
                    margin-left: 40px;

                }
            }

            .container2 {
                margin: 0;
                padding: 0%;
                background-color: #20272f;
                width: 360px;
                margin-top: 20px;

                .radical-bars {
                    width: 300px;
                    margin-left: 40px;

                }
            }
        }

        #footer-div {
            width: 100%;
            height: 150px;
            text-align: center;

            h1 {
                font-size: 2rem;
            }

        }

        #footer-nav-bar {
            padding-top: 20px;
        }

        .footer-list {
            display: flex;
            text-align: center;
            justify-content: center;
            list-style: none;
            column-gap: 1rem;

            h3 {
                font-size: 1rem;
            }
        }



        .social-icon {
            padding-top: 40px;
            font-size: 1rem;
            word-spacing: 10px;
        }
    }